<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
            <h5>DSE Template</h5>
            <ul class="nav navmenu-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="presentation.html">Presentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="edition.html">This Edition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/edition/index.html">Access to Text</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="documentation.html">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="credits.html">Credits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="bibliography.html">Bibliography</a>
                </li>
                        <li class="nav-item">
                    <a class="nav-link" href="https://github.com/susannalles/DSE_template">GitHub Repo</a>
                </li>
            </ul>
        </div>

  <header class="navbar navbar-light bg-light fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="offcanvas"
                data-target=".navmenu" data-canvas="body">
                <span class="navbar-toggler-icon"></span>
            </button>
        </header>
