<!DOCTYPE html>
<html lang="en">
    
   {% include head.html %}
    
    <body>
        
         {% include nav.html %}
        
      
        <div class="container">
            <div class="dse">
                <a href="index.html">DSE Template</a>
            </div>
            <div class="row g-5">
                <div class="col-md-8" id="contenidotexto">

                    {{ content }}
                    
                  
                </div>
                <div class="col-md-4">
                    <div class="position-sticky" style="padding-top:70px">
                        <div class="p-4 mb-3 bg-body-tertiary rounded">
                            <h4 class="fst-italic">About</h4>
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard
                                dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
       
         {% include footer.html %}
        
        <script src="https://raw.githubusercontent.com/susannalles/DSE_template/refs/heads/gh-pages/assets/scripts.js"></script>
    </body>
</html>
